.App {
  text-align: center;
}

.App-logo {
  height: 60px;
    width: 150px;
}


.Loading {
    animation: Loading-spin infinite 2s linear;
    margin: 20px auto;
    width: 30px;
}
.loading-container {
    text-align: center;
}


.App-header {
  height: 65px;
  padding: 0px 20px;
  color: #000000;
    text-align:left;
    background: #333333;
    display: flex;
}


.App-title {
    font-size: 1.75em;
    padding: 0;
    margin:0;
}

.App-title {
    float:left;
    margin-bottom: 5px;
    margin-right:5px;
}

.subtitle-container {
    float:right;
    margin-top: 15px;
    margin-left: auto;
}

.subtitle {
    font-size: .75em;
    float:right;
}

.App-title, .subtitle, .subtitle a {
    color: #ffffff;
}

.App-intro {
  font-size: large;
}

.App-search {
    float: left;
    padding: 15px;
    text-align: left;
}

.App-bar {
    height:30px;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

img {
    max-width:150px;
}

.search-form {
    display:flex;
}

.search-form input {
    min-width:300px;
}

.search-button {
    padding-top:2px;
    background:transparent;
}

.article {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  width: 95%;
}

.article-image {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:15px;
}

.article-content {
    width: 70%;
    text-align:left;
    padding-top: 15px;

}


.article-meta {
    display: flex;
}

.article-author,
.article-source {
    margin-right: 10px;
}

.article-source {
    width: 140px;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    font-style: normal !important;
    color: white;
}

.articlesContainer.all .article-source {
    color: #000000;
}


@media only screen and (max-width: 500px) {

    .App-header {
        display: block;
    }

    .article {
        width: 95%;
        padding: 0 10px;
    }

    .article-content, .article-image {
        width:100%;
    }
    .App-title {
        width: 30%;
    }

    .App-logo {
        width: 100%;
    }

    .App-header {
        padding: 0px 10px;
    }

    .App-search {
        padding-left:5px;
        float: right;
        width: 60%;
    }
    .search-form input {
        min-width:130px;
        width: 130px;
        font-size: 14px;
    }

    .subtitle-container {
        display:none;
    }

}

/*.articlesContainer {*/
  /*flex: 2;*/
/*}*/

/*.author {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
/*}*/

/*.content {*/
  /*padding-top: 0;*/
  /*width: 40%;*/
  /*padding: 5px;*/
/*}*/

/*.article {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*width: 30%;*/
  /*padding: 5px;*/
  /*margin: 10px 0;*/
/*}*/

/*.image {*/
  /*padding-left: 1rem;*/
  /*width: 40%;*/
  /*margin-bottom: 0;*/
/*}*/

/*.articlesContainer img {*/
  /*max-width: 300px;*/
  /*width: 100%;*/
/*}*/

/*@media screen and (max-width: 1000px) {*/
  /*.articlesContainer {*/
    /*display: flex;*/
  /*}*/

  /*.article {*/
    /*width: 40%;*/
  /*}*/
/*}*/

/*@media screen and (max-width: 600px) {*/

  /*.article {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*padding: 5px;*/
    /*width: 80%;*/
    /*margin: 0 auto;*/
  /*}*/
  /*.content {*/
    /*width: 100%;*/
  /*}*/
  /*.articlesContainer {*/
    /*justify-content: center;*/
    /*align-items: center;*/
  /*}*/
/*}*/

